[submodule "lvgl"]
	path = components/lvgl/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "lv_examples"]
	path = components/lv_examples/lv_examples
	url = https://github.com/littlevgl/lv_examples.git
