menu "LittlevGL (LVGL) configuration"

    menu "FONT USAGE"
        menu "Enable built-in fonts"
            config LV_FONT_MONTSERRAT12
                    bool
                    prompt "Enable Montserrat 12"
            config LV_FONT_MONTSERRAT14
                    bool
                    prompt "Enable Montserrat 14"
            config LV_FONT_MONTSERRAT16
                    bool
                    prompt "Enable Montserrat 16"
                    default y
            config LV_FONT_MONTSERRAT18
                    bool
                    prompt "Enable Montserrat 18"
            config LV_FONT_MONTSERRAT20
                    bool
                    prompt "Enable Montserrat 20"
            config LV_FONT_MONTSERRAT22
                    bool
                    prompt "Enable Montserrat 22"
            config LV_FONT_MONTSERRAT24
                    bool
                    prompt "Enable Montserrat 24"
            config LV_FONT_MONTSERRAT26
                    bool
                    prompt "Enable Montserrat 26"
            config LV_FONT_MONTSERRAT28
                    bool
                    prompt "Enable Montserrat 28"
            config LV_FONT_MONTSERRAT30
                    bool
                    prompt "Enable Montserrat 30"
            config LV_FONT_MONTSERRAT32
                    bool
                    prompt "Enable Montserrat 32"
            config LV_FONT_MONTSERRAT34
                    bool
                    prompt "Enable Montserrat 34"
            config LV_FONT_MONTSERRAT36
                    bool
                    prompt "Enable Montserrat 36"
            config LV_FONT_MONTSERRAT38
                    bool
                    prompt "Enable Montserrat 38"
            config LV_FONT_MONTSERRAT40
                    bool
                    prompt "Enable Montserrat 40"
            config LV_FONT_MONTSERRAT42
                    bool
                    prompt "Enable Montserrat 42"
            config LV_FONT_MONTSERRAT44
                    bool
                    prompt "Enable Montserrat 44"
            config LV_FONT_MONTSERRAT46
                    bool
                    prompt "Enable Montserrat 46"
            config LV_FONT_MONTSERRAT48
                    bool
                    prompt "Enable Montserrat 48"
            config LV_FONT_UNSCII8
                    bool
                    prompt "Enable UNSCII 8 (Perfect monospace font)"
            config LV_FONT_MONTSERRAT12SUBPIX
                    bool
                    prompt "Enable Montserrat 12 sub-pixel"
            config LV_FONT_MONTSERRAT28COMPRESSED
                    bool
                    prompt "Enable Montserrat 28 compressed"
            config LV_FONT_DEJAVU_16_PERSIAN_HEBREW
                    bool
                    prompt "Enable Dejavu 16 Persian, Hebrew, Arabic letters"
            config LV_FONT_SIMSUN_16_CJK
                    bool
                    prompt "Enable Simsun 16 CJK"
        endmenu
    endmenu

    menu "THEME USAGE"
	menu "Enable theme usage, always enable at least one theme"
            config LV_THEME_EMPTY
                    bool
                    prompt "Empty: No theme, you can apply your styles as you need."
            config LV_THEME_TEMPLATE
                    bool
                    prompt "Template: Simple to create your theme based on it."
            config LV_THEME_MATERIAL
                    bool
                    prompt "Material: A fast and impressive theme."
                    default y
            config LV_THEME_MONO
                    bool
                    prompt "Mono: Mono-color theme for monochrome displays"
	endmenu

    endmenu

	menu "Memory manager settings"
		config LV_MEM_SIZE
			int
			prompt "Size of the memory used by `lv_mem_alloc` in kilobytes (>= 2kB)"
			range 2 128
			default 32
	endmenu

endmenu
