menu "LittlevGL (LVGL) configuration"

    menu "Enable built-in fonts"
		config LVGL_FONT_MONTSERRAT12
			bool
			prompt "Enable Montserrat 12"
			default n
		config LVGL_FONT_MONTSERRAT12SUBPIX
			bool
			prompt "Enable Montserrat 12 sub-pixel"
			default n
		config LVGL_FONT_MONTSERRAT16
			bool
			prompt "Enable Montserrat 16"
			default y
		config LVGL_FONT_MONTSERRAT22
			bool
			prompt "Enable Montserrat 22"
			default n
		config LVGL_FONT_MONTSERRAT28
			bool
			prompt "Enable Montserrat 28"
			default n
		config LVGL_FONT_UNSCII8
			bool
			prompt "Enable UNSCII 8 (Perfect monospace font)"
			default n
    endmenu

    choice
		prompt "Select a default font from the enabled built-in fonts"
		default LVGL_DEFAULT_FONT_MONTSERRAT16
		help
			Select a default font from the built-in fonts
		
		config LVGL_DEFAULT_FONT_MONTSERRAT12
			select LVGL_FONT_MONTSERRAT12
			bool "Montserrat 12"
		config LVGL_DEFAULT_FONT_MONTSERRAT12
			select LVGL_FONT_MONTSERRAT12SUBPIX
			bool "Montserrat 12 sub-pixel"
		config LVGL_DEFAULT_FONT_MONTSERRAT16
			select LVGL_FONT_MONTSERRAT16
			bool "Montserrat 16"
		config LVGL_DEFAULT_FONT_MONTSERRAT22
			select LVGL_FONT_MONTSERRAT22
			bool "Montserrat 22"
		config LVGL_DEFAULT_FONT_MONTSERRAT28
			select LVGL_FONT_MONTSERRAT28
			bool "Montserrat 28"
		config LVGL_DEFAULT_FONT_UNSCII8
			select LVGL_FONT_UNSCII8
			bool "UNSCII 8"
	endchoice

	menu "Enable theme usage"
		config LVGL_THEME_LIVE_UPDATE
			bool
			prompt "Enable theme live update, allow theme switching at run time. Uses 8 to 10 kB of RAM"
			default n
		config LVGL_THEME_TEMPL
			bool
			prompt "Just for test"
			default y
		config LVGL_THEME_MONO
			bool
			prompt "Mono color theme for monochrome displays"
			default n
		config LVGL_THEME_MATERIAL
			bool
			prompt "Flat theme with bold colors and light shadows"
			default n
	endmenu

	menu "Memory manager settings"
		config LVGL_MEM_SIZE
			int
			prompt "Size of the memory used by `lv_mem_alloc` in kilobytes (>= 2kB)"
			range 2 128
			default 32
	endmenu

endmenu